<!DOCTYPE html>
<!--
    ##Requirments##
o Text boxes for first name, last name, street address, city, state, zip, telephone number, e-mail, and
date of survey, which are required fields.-->
<html>
    <head>
        <link rel="stylesheet" href="app.component.css">
        <title>Final Project Page</title>

    </head>
    <body>
      <h1>Welcome to the final Project</h1>
      <button (click)="TakeSurveys()">Take the survey</button>
      <button (click)="goToSurveys()">List all surveys</button>
      <router-outlet></router-outlet>
    </body>
</html>


